@charset "utf-8";
body{
    background: cornsilk;
    margin: 0;
    padding: 0;
    
}
main ,header, section,footer{
    border: 1px solid black;
}

main{
     background: white;
     width: 90%;
    margin: auto;
    padding: 10px;
}
article{
    display: grid;
    grid-area:a;
}
header{
    grid-area:h;
}
footer{
    grid-area:f;
}
article div{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 2px;
}
img{
    width: 300px;
    height: auto;
}
#nakkep img{width: 100%;

}
section{
    display: grid;
    grid-template-columns:50px auto 50px;
}
